body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.grid {
    position: relative;
}

.hex-row {
    position: absolute;
}

.hex-container {
    position: absolute;
    width: 86.6px;
    height: 100px;
}


.goal svg path {
    fill: gold; /* If you want the hexagon itself to be golden */
}

svg {
    display: block;
}

path {
    fill: #3498db;
    stroke: #2c3e50;
    stroke-width: 3;
}

.hex-container:hover path {
    fill: #5dade2;
}

.character {
    display: none; /* Hidden by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: red; /* Or use an image */
    border-radius: 50%;
    z-index: 10;
}